.scrollable-emojis {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 90vw;
}

.week-info {
  text-align: right;
  margin: 0px 10px 0px 0px;
  padding-top: 12px;
  flex-direction: column;
  width: 40vw;
  opacity: 0;
  transition: opacity 0.5s, transform 0.5s;
  visibility: hidden; /* Reserve space while hiding */
  position: relative;
  flex-grow: 1; /* Allow week-info to grow */
}

.week-info.visible {
  opacity: 1;
  visibility: visible; /* Make it visible when needed */
}

.title {
  color: #e7e7e7;
  opacity: 0.6;
  font-size: 17.2px;
}

.week {
  font-size: 22.1px;
  margin: 0;
  color: #e7e7e7;
  line-height: 1.19rem;
  margin: 10px 0px 20px 0px;
  opacity: 1;
  transition: opacity 0.5s;
}

.year {
  color: #e7e7e7;
  font-size: 22.1px;
  margin: 0;
  opacity: 1;
  transition: opacity 0.5s;
}

.trends-window {
  margin-top: 20px;
  width: 56%;
}

.events-window {
  margin: 20px 0px 0px 20px;
  width: 48%;
}

.trends {
  display: flex;
  flex-wrap: wrap;
  width: 100%; /* Make trends div take up full width of its container */
  margin: 0 auto;
  color: #e7e7e7;
  font-size: 17.2px;
}

.trends p {
  padding-left: 5px;
  color: #e7e7e7;
  font-size: 17.2px;
}

.events {
  display: flex;
  flex-direction: column;
  color: rgba(255, 214, 0, 1);
  font-family: "Narkis-Regular";
  font-size: 22.1px;
}

.events:hover {
  cursor: pointer;
}

.event-container {
  display: inline-flex; /* Use inline-flex to size to content */
  align-items: center; /* Center items vertically if necessary */
  padding: 0; /* Remove any padding */
  margin: 0; /* Remove any margin */
  height: auto; /* Ensure height is auto */
  background-color: #272727;
  border: 0.5px solid rgba(255, 214, 0, 1);
  border-radius: 15px;
  margin-bottom: 10px;
  padding: 0px 10px;
  width: fit-content;
}

/* .event-container {
  display: flex;
  align-items: flex-start;
  background-color: rgba(231, 231, 231, 0.6);
  border-radius: 15px;
  margin-bottom: 5px;
  padding: 0px 10px;
} */

.emoji-grid-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 100vh;
  padding-top: 50vh;
  padding-bottom: 50vh;
  box-sizing: border-box;
}

.emoji-grid-container::-webkit-scrollbar {
  display: none;
}

.week-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.emoji-row {
  opacity: 0.2;
  transition: opacity 0.5s;
}

.emoji-row:hover {
  opacity: 1; /* Slightly increase opacity on hover */
  cursor: pointer;
}

.emoji-row:hover .year,
.emoji-row:hover .week {
  opacity: 1; /* Show year and week on hover */
}

.week-column.visible .emoji-row {
  opacity: 1;
}

.week-column.visible .week,
.week-column.visible .year {
  opacity: 1; /* Ensure the year and week are visible for the highlighted row */
}

.week-column.visible .week-info {
  display: flex;
  opacity: 1;
  visibility: visible; /* Ensure it's visible */
  transform: translateY(0);
  animation: fadeInUp 0.5s ease-out;
}

.week-emoji-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures equal spacing */
  width: 100%;
  gap: 2vw;
}

.additional-text {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
}

.additional-text.top {
  top: -10%;
}

.additional-text.bottom {
  top: 60%;
  display: flex;
  align-items: flex-start;
}

.emoji-row {
  display: flex;
  width: 75vw;
  justify-content: flex-end;
}

.emoji {
  font-size: 36px;
  margin-right: 10px;
}

.emoji.clickable {
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s;
  transition: font-size 0.02s;
}

/* .emoji.clickable:hover {
    padding-bottom: 5px;
  } */

.emoji:not(.clickable) {
  pointer-events: none;
  opacity: 0.5;
  transition: opacity 0.5s;
}

/* Define keyframes for the fadeInUp animation */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
