#emoji-container {
  font-size: 1.2rem; /* Adjust font size as needed */
  line-height: 1.068rem; /* Adjust line height to provide enough spacing between rows */
  white-space: pre; /* Ensure white space is preserved */
  max-height: calc(
    100vh - 8vh
  ); /* Ensure the container doesn't exceed the viewport height minus header height */
  height: 100vh - 8vh;
  width: 100vw; /* Make sure the container takes full width */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the rows */
  padding-top: 8vh; /* Add padding to account for the header height */
  overflow: hidden;
  position: relative;
}

.emoji-image-row {
  width: 100%; /* Ensure each row takes full width */
  text-align: center; /* Center text within each row */
  direction: ltr;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI Emoji",
    "Segoe UI Symbol", sans-serif;
}
