/* src/EventIndex.css */
.grid-container {
  height: 100vh; /* Adjust height as needed */
  overflow-y: auto;
  padding: 10px;
}

.grid-container::-webkit-scrollbar {
  display: none;
}

.image-grid {
  margin-top: 20vh;
  margin-bottom: 20vh;
  display: flex;
  flex-wrap: wrap;
  row-gap: 8vh; /* Adjust the gap as needed */
  justify-content: space-between;
  margin-right: 17vw;
  margin-left: 17vw;
}

.image-item {
  text-align: right;
  width: 25vh; /* Adjust width for roughly 4 items per row with gap */
  box-sizing: border-box;
  position: relative; /* For positioning the event-container */
}

.image {
  width: 24vh;
  height: 24vh; /* Adjust image height as needed */
  background-size: 275%;
  background-position: center;
  background-repeat: no-repeat;
  transition: background-size 0.3s ease-in-out; /* Transition effect for background size */
}

.image-item:hover {
  cursor: pointer;
}

.image-item:hover .image {
  background-size: 375%; /* Increased background size on hover */
}

.image-item:hover .index-event-container::after {
  width: 100%;
  right: 0;
  left: auto;
}

.image-item:hover .index-arrow {
  transform: translateX(-3px); /* Adjust as needed */
}

.image-date {
  margin-top: 8px;
  text-align: right;
  font-family: "Narkis-Extralight";
  color: #e7e7e7;
  font-size: 16px;
  opacity: 60%;
}

.index-event-container {
  display: inline-flex;
  align-items: center;
  margin: 0;
  height: auto;
  width: fit-content;
  margin-bottom: 5px;
  position: absolute; /* Position inside the image-item */
  bottom: -30px; /* Adjust based on your layout */
  color: rgba(255, 214, 0, 1);
  font-family: "Narkis-Medium";
  font-size: 20px;
  cursor: pointer;
}

.index-event-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.5px;
  background-color: rgba(255, 214, 0, 1); /* Adjust color to fit your design */
  transition: width 0.5s ease-in-out;
}

.index-arrow {
  width: 15px;
  padding-right: 5px;
  transition: transform 0.3s ease-out; /* Make transition time similar to the underline */
}

@keyframes moveArrow {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}
