.event-drawer {
  position: fixed;
  top: 0;
  left: -23.7vw;
  width: 25.3vw;
  height: 100%;
  color: #e7e7e7;
  transition: left 0.3s ease;
  z-index: 1300; /* Ensure it appears on top */
  padding: 30px 40px 20px 40px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Adjust shadow for left side */
  background-color: rgb(45, 45, 45, 0.95);
  backdrop-filter: blur(1px);
}

.event-drawer:hover {
  left: -21.3vw;
}

.event-drawer.open {
  left: 0vw;
}

.arrowDrawer {
  transition: transform 0.3s ease;
  transform: rotate(180deg); /* Rotate icon to point left */
}

.arrowDrawer.opposite {
  transform: rotate(0deg); /* Rotate icon to point left */
}

.left-icon-frame {
  display: flex;
  justify-content: flex-start; /* Adjust close icon to the left */
  cursor: pointer;
}

.left-close-icon {
  font-size: 34px;
  font-weight: normal;
}

.info-frame-event {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  height: 90vh;
}

.event-id {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 15px 0px 50px 0px;
}

.event-title h3 {
  font-family: "Narkis-Medium";
  font-size: 52.1px;
  line-height: 1.2em;
  margin-left: 15px;
}

.event-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 10px;
  line-height: 1rem;
  width: 100%;
}

.event-title h5 {
  font-size: 42.1px;
  font-family: "Narkis-Regular";
  line-height: 2.5rem;
}

.event-title p {
  color: rgba(231, 231, 231, 0.7);
  font-size: 17.2px;
  font-family: "Narkis-Extralight";
}

.event-about {
  font-size: 22.1px;
  overflow-wrap: break-word; /* Break long words */
  word-break: break-word; /* Break words at line end */
  white-space: normal; /* Allow wrapping */
  font-family: "Narkis-Regular";
  line-height: 1.5rem;
}

.event-category {
  display: flex;
}

.section-info {
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
}

.explain-category {
  opacity: 0.6;
  font-size: 17.2px;
}

.info-category {
  font-size: 17.2px;
  margin-left: 10px;
}

.info-value-event {
  width: 27px;
  font-size: 17.2px;
  margin: 0px 0px -5px 10px;
}

.info-value-number {
  font-family: "Narkis-Regular";
  font-size: 52px;
  line-height: 0.7em; /* Same as height  */
  margin-left: 3px;
  margin-bottom: 5px;
}

.info-value-emoji {
  font-size: 37.1px;
}

.list-words {
  display: flex;
  gap: 0.7vw;
  flex-wrap: wrap;
  font-family: "Narkis-Regular";
  font-size: 22.1px;
  margin-bottom: 10px;
}

.list-hashtags {
  display: flex;
  gap: 0.7vw;
  flex-wrap: wrap;
  font-family: "Narkis-Regular";
  font-size: 22.1px;
  margin-bottom: 10px;
}

.info-value-emoji-event {
  font-size: 37.1px;
  width: 90px;
}

.info-emoji-event-container {
  display: flex;
  align-items: baseline;
  width: 37px;
  line-height: 1rem;
}

.emoji-image {
  width: 37px; /* Adjust size as needed */
}

.emoji-text {
  font-size: 37px; /* Adjust size as needed to match the image size */
  display: inline-block; /* Ensure text is inline with images */
}
