.scrollable-sidebar {
  position: absolute;
  top: 48%;
  left: 30px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  z-index: 2;
  margin-right: 100px;
  margin: 60px 0px 0px 70px;
}

.week-line {
  width: 2px;
  height: 2px;
  background-color: rgba(231, 231, 231, 0.6);
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.week-line.active {
  background-color: #ffd600;
}

.week-line:hover {
  background-color: #ffd600;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  left: -5px;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s;
}

.circle:hover {
  background-color: rgba(255, 214, 0, 0.5);
}

.circle.active {
  background-color: #ffd600;
}

.month-label {
  margin-right: 20px;
  font-size: 15.3px;
  color: rgba(231, 231, 231, 0.6);
  white-space: nowrap; /* Ensure the text doesn't wrap */
}
